In [211]:
import numpy as np
import scipy as sp
import pandas as pd

#read the csv into a dataframe
df = pd.read_csv('q1_data.csv')

In [212]:
df

     a    b    c  d    e    f  g    h
0  4.0  5.0  NaN  5  1.0  NaN  3  2.0
1  NaN  3.0  4.0  3  1.0  2.0  1  NaN
2  2.0  NaN  1.0  3  NaN  4.0  5  3.0

In [213]:
df = df.fillna(0)

In [214]:
df

     a    b    c  d    e    f  g    h
0  4.0  5.0  0.0  5  1.0  0.0  3  2.0
1  0.0  3.0  4.0  3  1.0  2.0  1  0.0
2  2.0  0.0  1.0  3  0.0  4.0  5  3.0

In [215]:
df['d'] = df['d'].astype(float)
df['g'] = df['g'].astype(float)

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 8 columns):
a    3 non-null float64
b    3 non-null float64
c    3 non-null float64
d    3 non-null float64
e    3 non-null float64
f    3 non-null float64
g    3 non-null float64
h    3 non-null float64
dtypes: float64(8)
memory usage: 272.0 bytes

In [217]:
df

     a    b    c    d    e    f    g    h
0  4.0  5.0  0.0  5.0  1.0  0.0  3.0  2.0
1  0.0  3.0  4.0  3.0  1.0  2.0  1.0  0.0
2  2.0  0.0  1.0  3.0  0.0  4.0  5.0  3.0

In [218]:
df2 = df

In [219]:
df2

     a    b    c    d    e    f    g    h
0  4.0  5.0  0.0  5.0  1.0  0.0  3.0  2.0
1  0.0  3.0  4.0  3.0  1.0  2.0  1.0  0.0
2  2.0  0.0  1.0  3.0  0.0  4.0  5.0  3.0

In [220]:
for i,row in df2.iterrows():
    #print (row.size)
    for j in range(row.size):
        #print (df2.columns[j] ,row[j], 1)
        if row[j] >2:
            df2.set_value(i, df2.columns[j], 1)
        elif row[j] <= 2 and row[j]>=0:
            df2.set_value(i, df2.columns[j], 0)

/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [221]:
df2

     a    b    c    d    e    f    g    h
0  1.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0
1  0.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  1.0  0.0  1.0  1.0  1.0

In [222]:
df3 = df2

In [223]:
df3

     a    b    c    d    e    f    g    h
0  1.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0
1  0.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  1.0  0.0  1.0  1.0  1.0

In [224]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(df3.loc[[0]], df3.loc[[1]])

0.40000000000000002

In [225]:
jaccard_similarity_score(df3.loc[[0]], df3.loc[[2]])

0.33333333333333331

In [226]:
jaccard_similarity_score(df3.loc[[1]], df3.loc[[2]])

0.16666666666666666

In [227]:
df

     a    b    c    d    e    f    g    h
0  1.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0
1  0.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  1.0  0.0  1.0  1.0  1.0

In [228]:
dfq2 = pd.read_csv('q1_data.csv')
dfq2 = dfq2.fillna(0)

In [229]:
dfq2

     a    b    c  d    e    f  g    h
0  4.0  5.0  0.0  5  1.0  0.0  3  2.0
1  0.0  3.0  4.0  3  1.0  2.0  1  0.0
2  2.0  0.0  1.0  3  0.0  4.0  5  3.0

In [230]:
dfq2['d'] = dfq2['d'].astype(float)
dfq2['g'] = dfq2['g'].astype(float)

In [231]:
dfq2

     a    b    c    d    e    f    g    h
0  4.0  5.0  0.0  5.0  1.0  0.0  3.0  2.0
1  0.0  3.0  4.0  3.0  1.0  2.0  1.0  0.0
2  2.0  0.0  1.0  3.0  0.0  4.0  5.0  3.0

In [232]:
row_avg = dfq2.mean(axis=1)
print (row_avg)
for i,row in dfq2.iterrows():
    for j in range(row.size):
        if row[j] > 0:
            dfq2.set_value(i, dfq2.columns[j], row[j] - row_avg[i])

0    2.50
1    1.75
2    2.25
dtype: float64

/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [233]:
dfq2

      a     b     c     d     e     f     g     h
0  1.50  2.50  0.00  2.50 -1.50  0.00  0.50 -0.50
1  0.00  1.25  2.25  1.25 -0.75  0.25 -0.75  0.00
2 -0.25  0.00 -1.25  0.75  0.00  1.75  2.75  0.75

In [234]:
dfq2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 8 columns):
a    3 non-null float64
b    3 non-null float64
c    3 non-null float64
d    3 non-null float64
e    3 non-null float64
f    3 non-null float64
g    3 non-null float64
h    3 non-null float64
dtypes: float64(8)
memory usage: 272.0 bytes

In [235]:
from scipy import spatial

In [236]:
row = dfq2.iloc[0]
row1 = dfq2.iloc[1]
row2 = dfq2.iloc[2]

In [237]:
row

a    1.5
b    2.5
c    0.0
d    2.5
e   -1.5
f    0.0
g    0.5
h   -0.5
Name: 0, dtype: float64

In [238]:
result01 = 1 - spatial.distance.cosine(row, row1)

In [239]:
result01

0.54650404085117854

In [240]:
result02 = 1 - spatial.distance.cosine(row, row2)
result02

0.16340829138365009

In [241]:
result12 = 1 - spatial.distance.cosine(row1, row2)
result12

-0.31256152042413077

In [242]:
dfq2

      a     b     c     d     e     f     g     h
0  1.50  2.50  0.00  2.50 -1.50  0.00  0.50 -0.50
1  0.00  1.25  2.25  1.25 -0.75  0.25 -0.75  0.00
2 -0.25  0.00 -1.25  0.75  0.00  1.75  2.75  0.75

In [357]:
dfq3 = pd.read_csv('q1_data.csv')
dfq3 = dfq3.fillna(0)

In [358]:
dfq3

     a    b    c  d    e    f  g    h
0  4.0  5.0  0.0  5  1.0  0.0  3  2.0
1  0.0  3.0  4.0  3  1.0  2.0  1  0.0
2  2.0  0.0  1.0  3  0.0  4.0  5  3.0

In [359]:
dfq3['d'] = dfq3['d'].astype(float)
dfq3['g'] = dfq3['g'].astype(float)

In [360]:
dfq3

     a    b    c    d    e    f    g    h
0  4.0  5.0  0.0  5.0  1.0  0.0  3.0  2.0
1  0.0  3.0  4.0  3.0  1.0  2.0  1.0  0.0
2  2.0  0.0  1.0  3.0  0.0  4.0  5.0  3.0

In [361]:
dmap = {'a':4,'b':0,'c':2,'d':5,'e':0,'f':0,'g':4,'h':0}
dlist = [[4,0,2,5,0,0,4,0]]

In [363]:
newDF = pd.DataFrame(dlist,columns=['a','b','c','d','e','f','g','h'], index=[3])

In [364]:
newDF

   a  b  c  d  e  f  g  h
3  4  0  2  5  0  0  4  0

In [365]:
dfq3 = pd.concat( [ dfq3, newDF], axis=0)

In [367]:
dfq3

     a    b    c    d    e    f    g    h
0  4.0  5.0  0.0  5.0  1.0  0.0  3.0  2.0
1  0.0  3.0  4.0  3.0  1.0  2.0  1.0  0.0
2  2.0  0.0  1.0  3.0  0.0  4.0  5.0  3.0
3  4.0  0.0  2.0  5.0  0.0  0.0  4.0  0.0

In [368]:
for i,row in dfq3.iterrows():
    #print (row.size)
    for j in range(row.size):
        if row[j] > 2:
            dfq3.set_value(i, dfq3.columns[j], 1)
        elif row[j] <= 2 and row[j]>=0:
            dfq3.set_value(i, dfq3.columns[j], 0)

/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [369]:
dfq3

     a    b    c    d    e    f    g    h
0  1.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0
1  0.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  1.0  0.0  1.0  1.0  1.0
3  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0

In [370]:
jaccard_similarity_score(dfq3.loc[[3]], dfq3.loc[[0]])

0.75

In [371]:
jaccard_similarity_score(dfq3.loc[[3]], dfq3.loc[[1]])

0.20000000000000001

In [372]:
jaccard_similarity_score(dfq3.loc[[3]], dfq3.loc[[2]])

0.40000000000000002

In [373]:
dfq3

     a    b    c    d    e    f    g    h
0  1.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0
1  0.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  1.0  0.0  1.0  1.0  1.0
3  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0