In [26]:
import numpy as np
import scipy as sp
import pandas as pd

#read the csv into a dataframe
df = pd.read_csv('q1_data.csv')

In [27]:
df

    m1   m2   m3   m4   m5   m6   m7
0  4.0  NaN  NaN  5.0  1.0  NaN  NaN
1  5.0  5.0  4.0  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  2.0  4.0  5.0  NaN
3  NaN  3.0  NaN  NaN  NaN  NaN  3.0

In [28]:
df = df.fillna(0)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
m1    4 non-null float64
m2    4 non-null float64
m3    4 non-null float64
m4    4 non-null float64
m5    4 non-null float64
m6    4 non-null float64
m7    4 non-null float64
dtypes: float64(7)
memory usage: 304.0 bytes

In [59]:
for i,row in df.iterrows():
    rowSum = df.sum(axis=1)
    counts = 0;
    for j in range(row.size):
        if row[j]!=0:
            counts += 1
    avg = rowSum / counts
    #print ("AVG")
    print (counts)
    print (rowSum)
    #for j in range(row.size):
     #   if row[j]!=0:
      #      print (row[j])
            #df2.set_value(i, df2.columns[j], 0)

3
0    10.0
1    14.0
2    11.0
3     6.0
dtype: float64
3
0    10.0
1    14.0
2    11.0
3     6.0
dtype: float64
3
0    10.0
1    14.0
2    11.0
3     6.0
dtype: float64
2
0    10.0
1    14.0
2    11.0
3     6.0
dtype: float64